<!-- <p id="notice"><%= notice %></p> -->

<h2> Details of this <%= @activity.activity_type%> Activity on <%= @activity.date%> </h2>
<p class="h1">
You were <%= @activity.activity_type %> for <%= @activity.duration/60 %> minutes
</p>
<%= link_to 'Edit', edit_activity_path(@activity) %>


<%= link_to 'Back to Activity lists', activities_path %>
