<!DOCTYPE html>
<html>
  <head>
    <title>DeviseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>          
    <nav class="navbar navbar-inverse navbar-expand-md">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href='/' class='navbar-brand'>
            <img class='homelogo'  src="/move-n-groove-logo.jpg" width="140" height="80" alt="site logo"/>
          </a>
        </div>
        <button type="button" class="navbar-toggler bg-dark" data-target="#myNavbar" data-toggle="collapse">
          <span class="navbar-toggler-icon bg-dark"></span>                
        </button> 
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" class="btn btn-outline-primary btn-lg m-2 card">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle btn btn-outline-primary btn-lg card m-2" data-toggle="dropdown" href="#">Recent Events<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a href="#" class="btn btn-outline-primary btn-lg card m-2">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right right-bar">
          <% if !current_user %>            
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= link_to 'Sign up', new_user_registration_path %></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <%= link_to 'Log in', new_user_session_path %></a></li>
          <% else %>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <%= link_to 'Log out', destroy_user_session_path, method: :delete %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%# Jumbotron for the caption  %>
    <div class="jumbotron card card-image" style="background-image: url('/gradient1.jpg')">
      <div class="text-white text-center py-5 px-4">
        <h1 class="page-header text-white"> Good Health is the beauty of living </h1>
      </div>
    </div>
    
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
